#!/bin/sh
# {{ ansible_managed }}
set -e

export CONCOURSE_NAME="{{ concourse_worker_options_combined['CONCOURSE_NAME'] | default('`hostname`') }}"
export CONCOURSE_TSA_PUBLIC_KEY="{{ concourse_worker_options_combined['CONCOURSE_TSA_HOST_KEY'] }}.pub"
export CONCOURSE_TSA_WORKER_PRIVATE_KEY="{{ concourse_worker_options_combined['CONCOURSE_TSA_HOST_KEY'] }}"

echo "$(date) I AM being retired :( " | tee -a {{ concourseci_log_worker }}

# Exec retire-worker
exec {{ concourseci_bin_dir }}/concourse retire-worker >> {{ concourseci_log_worker }} 2>&1

MAX_TRIES=5
# Loop at most $MAX_TRIES untill worker is retired
for x in $(seq $MAX_TRIES); do
  {{ concourseci_bin_dir }}/fly -t manage workers | cut -d ' ' -f1 | grep "^${CONCOURSE_NAME}$"
  worker_found=$?
  if [ $worker_found -ne 0 ] ; then
    echo "$(date) officially Retired" | tee -a {{ concourseci_log_worker }}
    break
  fi
  echo "$(date) still working. I will try again in 10s" | tee -a {{ concourseci_log_worker }}
  sleep 10
done

if [ $worker_found -eq 0 ] ; then
  echo "worker retirement timed out" | tee -a {{ concourseci_log_worker }}
  exit 1
fi

