#!/bin/bash
# {{ ansible_managed }}

# Config
{% for option, value in (default_concourse_worker_options|combine(concourse_worker_options)).items() %}
export {{ option }}="{{ value }}"
{% endfor %}

echo "" >> {{ concourseci_log_worker }}
echo "$(date) starting " >> {{ concourseci_log_worker }}
env | grep CONCOURSE  >> {{ concourseci_log_worker }}

# Exec worker
exec {{ concourseci_bin_dir }}/concourse worker >> {{ concourseci_log_worker }} 2>&1
