#!/bin/bash
# {{ ansible_managed }}

# Config
{% for option, value in concourse_worker_options_combined.items() %}
{% if (concourseci_version | version_compare('v3.10.0', '>=')) and option == 'CONCOURSE_TSA_HOST' %}
export {{ option }}="{{ value }}:{{ concourse_worker_options_combined['CONCOURSE_TSA_PORT'] }}"
{% elif (concourseci_version | version_compare('v3.10.0', '>=')) and option == 'CONCOURSE_TSA_PORT' %}
{% else %}
export {{ option }}="{{ value }}"
{% endif %}
{% endfor %}

echo "" >> {{ concourseci_log_worker }}
echo "$(date) starting " >> {{ concourseci_log_worker }}

# Exec worker
exec {{ concourseci_bin_dir }}/concourse worker >> {{ concourseci_log_worker }} 2>&1
