#!/bin/bash
# {{ ansible_managed }}

# Config
{% for option, value in (default_concourse_web_options|combine(concourse_web_options)).items() %}
export {{ option }}="{{ value }}"
{% endfor %}

echo "" >> {{ concourseci_log_web }}
echo "$(date) starting " >> {{ concourseci_log_web }}
env | grep CONCOURSE  >> {{ concourseci_log_web }}

## Exec web
exec {{ concourseci_bin_dir }}/concourse web >> {{ concourseci_log_web }} 2>&1
